<main>
    <div class="container my-5">
        <div class="row">
            <div class="col-12">
                <article class="container my-4">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <div id="documenti">
                                <h2>Il Cloud su Developers Italia</h2>
                                <div class="it-list-wrapper">
                                    <ul class="it-list">
                                        <li>
                                            <a href="https://slack.developers.italia.it/">
                                                <div class="it-right-zone">
                                                    <span class="text">#cloud<em></em></span>
                                                    <span class="it-multiple">
                                                        <span class="metadata">entra nel canale Slack</span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://forum.italia.it/c/piano-triennale/data-center-e-cloud">
                                                <div class="it-right-zone">
                                                    <span class="text">Datacenter & Cloud su Forum.italia.it</span>
                                                    <span class="it-multiple">
                                                        <span class="metadata">entra nel Forum</span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/italia/">
                                                <div class="it-right-zone">
                                                    <span class="text">GitHub/Italia</span>
                                                    <span class="it-multiple">
                                                        <span class="metadata">collabora su Github</span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</main>




