<div class="it-hero-wrapper it-dark it-overlay it-bottom-overlapping-content">
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
      <div class="img-wrapper"><img src="{{ site.baseurl }}/assets/images/imgix-404361-unsplash.jpg"
          title="Introduzione a CloudPA" alt="Introduzione a CloudPA"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-hero-text-wrapper bg-dark">
          <h1 class="no_toc">{{ page.title }}</h1>
          <p class="d-none d-lg-block">{{ page.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card-wrapper card-space">
        <div class="card card-bg">
          <div class="card-body">
            <p class="card-text">
              Il Piano Triennale ha introdotto il Cloud della PA, un ambiente virtuale all’interno del quale le Pubbliche Amministrazioni possono erogare i propri servizi online ai cittadini e alle imprese nel rispetto di requisiti minimi di sicurezza e affidabilità.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
