<main>
    <div class="container my-5">
        <div class="row">
            <div class="col-12">
                <article class="container my-4">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <div id="documenti">
                                <h2>I documenti del kit</h2>
                                <div class="it-list-wrapper">
                                    <ul class="it-list">
                                        <li>
                                            <a href="https://docs-italia-staging.teamdigitale.it/citta-metropolitana-amba-raba/test-cloud-enable-program/cloud-enable-program-docs/it/master/index.html">
                                                <div class="it-right-zone">
                                                    <span class="text"><em>Il manuale di abiliazione al cloud</em></span>
                                                    <span class="it-multiple">
                                                        <span class="metadata">Leggi su Docs Italia</span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</main>




