<main>
    <div class="container my-5">
        <div class="row">
            <div class="col-12">
                <article class="container my-4">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <div id="documenti">
                                <h2>Cloud enablement kit</h2>
                                <div class="it-list-wrapper">
                                    <ul class="it-list">
                                        <li>
                                            <a href="https://docs-italia-staging.teamdigitale.it/citta-metropolitana-amba-raba/test-cloud-enable-program/cloud-enable-program-docs/it/master/index.html">
                                                <div class="it-right-zone">
                                                    <span class="text">Il manuale di abiliazione al cloud<em></em></span>
                                                    <span class="it-multiple">
                                                        <span class="metadata">Leggi su Docs Italia</span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://drive.google.com/open?id=1iVswHZ22zanOSxFoQ8lSW8B1Enx9mg9gQAPVhayerNs">
                                                <div class="it-right-zone">
                                                    <span class="text">Template - Lista degli applicativi <em>Workshop #1</em></span>
                                                    <span class="it-multiple">
                                                        <span class="metadata">Leggi</span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://drive.google.com/open?id=1P8lcsCxEXKYk7oZVoHrS6rhNmqdPz4bHfzmsmWq4akQ">
                                                <div class="it-right-zone">
                                                    <span class="text">Template - Scheda di assessment <em>Workshop #2</em></span>
                                                    <span class="it-multiple">
                                                        <span class="metadata">Leggi</span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://drive.google.com/open?id=1_5aEEDg4TGDEJB8EM5ZQqb6XgGtCxISLRFa_-l2BscU">
                                                <div class="it-right-zone">
                                                    <span class="text">Template - Valutazione delle competenze <em>Workshop #3</em></span>
                                                    <span class="it-multiple">
                                                        <span class="metadata">Leggi</span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col-12">
                <article class="container my-4">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <div id="documenti">
                                <h2>Cloud enablement framework</h2>
                                <div class="it-list-wrapper">
                                    <ul class="it-list">
                                        <li>
                                            <a href="https://cloud-italia-docs.readthedocs.io/it/latest/cloud-enablement.html#la-strategia-di-cloud-enablement">
                                                <div class="it-right-zone">
                                                    <span class="text">Il framework di lavoro <em></em></span>
                                                    <span class="it-multiple">
                                                        <span class="metadata">Leggi su Docs Italia</span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</main>




