<main>
    <div class="container my-5">
        <div class="row">
            <div class="col-12">
                <article class="container my-4">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <h1>Cos'è Cloud PA</h1>
                            <p>
                                Il Team per la Trasformazione Digitale, in collaborazione con l'Agenzia per l'Italia
                                Digitale, ha realizzato il sito informativo cloud.italia.it con lo scopo di rendere
                                pubblica la strategia sull’adozione del Cloud Computing nella Pubblica Amministrazione
                                (PA) e raccogliere informazioni e strumenti utili alla realizzazione di tale strategia.
                                Le diverse sezioni raccolgono i contenuti divulgativi, le istruzioni operative e le
                                comunicazioni ufficiali, con carattere di pubblicità legale, richiamate da apposite
                                circolari AgID.
                                Nella definizione della strategia Cloud delle
                                PA sono stati individuati tre elementi principali che
                                caratterizzano questo percorso di trasformazione:
                                <li> il principio Cloud First: secondo il quale
                                    le PA devono, in via prioritaria, adottare
                                    il paradigma cloud (in particolare i
                                    servizi SaaS) prima di qualsiasi altra opzione
                                    tecnologica per la definizione di nuovi
                                    progetti e per la progettazione dei nuovi servizi
                                    nell’ambito di nuove iniziative da avviare
                                </li>
                                <li> il modello Cloud della PA: il modello
                                    strategico che si compone di infrastrutture
                                    e servizi qualificati da AgID sulla base di
                                    un insieme di requisiti volti a garantire
                                    elevati standard di qualità per la PA</li>
                                <li> Il Cloud Enablement Program: il programma
                                    che abilita un’organizzazione a migrare il
                                    proprio patrimonio IT esistente
                                    (infrastrutture e applicazioni) utilizzando
                                    infrastrutture e servizi cloud all’interno del
                                    modello Cloud della PA. . Nell’ambito del programma
                                    è stato definito un framework, costituito
                                    dall’insieme di unità organizzative (unità di
                                    controllo, unità di esecuzione e centri di competenza),
                                    risorse, strategie operative e il Cloud Enablement Kit
                                    (metodologie, buone pratiche e strumenti) necessari per
                                    attuare il Cloud Enablement Program delle PA.
                                </li>
                            </p>
                        </div>
                    </div>
                </article>
                <article class="container my-4">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <div id="documenti">
                                <h2>I documenti</h2>
                                <div class="it-list-wrapper">
                                    <ul class="it-list">
                                        <li>
                                            <a href="https://cloud.italia.it/projects/cloud-italia-docs/it/latest/">
                                                <div class="it-right-zone">
                                                    <span class="text">Il modello<em>La strategia cloud e il modello Cloud della PA.</em></span>
                                                    <span class="it-multiple">
                                        <span class="metadata">Leggi su Docs Italia</span>
                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://cloud.italia.it/projects/cloud-italia-circolari/it/latest/circolari/SaaS/">
                                                <div class="it-right-zone">
                                                    <span class="text">Servizi cloud SaaS<em>Circolare per la qualificazione dei Servizi cloud SaaS.</em></span>
                                                    <span class="it-multiple">
                                        <span class="metadata">Leggi su Docs Italia</span>
                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://cloud.italia.it/projects/cloud-italia-circolari/it/latest/circolari/CSP/">
                                                <div class="it-right-zone">
                                                    <span class="text">Cloud Service Provider<em>Circolare per la qualificazione dei Cloud Service Provider.</em></span>
                                                    <span class="it-multiple">
                                        <span class="metadata">Leggi su Docs Italia</span>
                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="container my-4">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <div id="servizi">
                                <h2>I servizi</h2>
                                <div class="it-list-wrapper">
                                    <ul class="it-list">
                                        <li>
                                            <a href="https://cloud.italia.it/marketplace/supplier">
                                                <div class="it-right-zone">
                                                    <span class="text">Qualificazione per i Cloud Service Provider<em>Qualificazione delle infrastrutture IT e/o dei servizi IaaS/PaaS.</em></span>
                                                    <span class="it-multiple">
                                        <span class="metadata">Leggi su Docs Italia</span>
                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://cloud.italia.it/marketplace/">
                                                <div class="it-right-zone">
                                                    <span class="text">Marketplace Cloud<em>Servizi e le infrastrutture qualificate nell’ambito del Cloud della PA.</em></span>
                                                    <span class="it-multiple">
                                        <span class="metadata">Leggi su Docs Italia</span>
                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>

            </div>
        </div>
    </div>
</main>

<div class="col-12">
    <div class="section section-muted">
        <div class="section-content">
            <h2>I vantaggi</h2>
            <div class="card-deck">
                <div class="card shadow border-0 mg-md-4">
                    <div class="card-header">
                        Vantaggi per i cittadini
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <b>Maggiore affidabilità</b> dei servizi pubblici;
                            <b>maggiore sicurezza</b> e <b>rispetto della privacy</b>;
                            servizi pubblici progettati in maniera <b>nativa digitale</b>;
                            minore incidenza sulla <b>spesa pubblica</b> dei servizi digitali.
                        </p>
                    </div>
                </div>
                <div class="card shadow border-0 mg-md-4">
                    <div class="card-header">
                        Vantaggi per le Pubbliche Amministrazioni
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <b>Risparmi significativi</b> da reinvestire nello sviluppo di nuovi servizi;
                            una <b>maggiore trasparenza</b> sui costi e sull’utilizzo dei servizi;
                            <b>maggiore agilità</b> nella gestione delle infrastrutture sfruttando un <b>modello
                            scalabile</b> basato su servizi a consumo (come utenze domestiche);
                            <b>maggiore efficienza</b> per stimolare la crescita economica.
                        </p>
                    </div>
                </div>
            </div>
            <!-- contenuto di esempio END -->
        </div>
    </div>
</div>




