<main>
    <div class="container my-5">
        <div class="row">
            <div class="col-12">
                <article class="container my-4">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            
				<p markdown="1">
                                Il Team per la Trasformazione Digitale, in collaborazione con l'Agenzia per l'Italia
                                Digitale, ha realizzato il sito informativo <a href="https://cloud.italia.it">cloud.italia.it</a> con lo scopo di rendere
                                pubblica la strategia sull’adozione del Cloud Computing nella Pubblica Amministrazione
                                (PA) e raccogliere informazioni e strumenti utili alla realizzazione di tale strategia.
                                Le diverse sezioni raccolgono i contenuti divulgativi, le istruzioni operative e le
                                comunicazioni ufficiali, con carattere di pubblicità legale, richiamate da apposite
                                circolari AgID.
                            </p>
				
			<h4><a id="cloud-della-pa">Cos'è il cloud?</a></h4>
				<p>
                                Il <a href="https://docs.italia.it/italia/manuale-di-abilitazione-al-cloud/manuale-di-abilitazione-al-cloud-docs/it/bozza/il-cloud/cos%C3%A8-il-cloud.html"cloud computing</a> (in italiano
                                nuvola informatica), più semplicemente cloud, è un
                                modello di infrastrutture informatiche che consente
                                di disporre, tramite internet, di un insieme di
                                risorse di calcolo (ad es. reti, server, risorse di
                                archiviazione, applicazioni software) che possono
                                essere rapidamente erogate come servizio. Questo
                                modello consente di semplificare drasticamente la
                                gestione dei sistemi informativi, sia eliminando la
                                gestione relativa ad applicativi fruibili
                                direttamente online, sia trasformando le
                                infrastrutture fisiche in servizi virtuali fruibili
                                in base al consumo di risorse.
<!--
				Rispetto alle tradizionali soluzioni hardware, il modello cloud
                                consente di:
                            <ul>
                                <li>usufruire delle applicazioni da qualsiasi
                                    dispositivo in qualsiasi luogo tramite l’accesso internet
                                </li>
                                <li>
                                    avere importanti vantaggi di costo
                                    nell’utilizzo del software, in quanto consente
                                    di pagare le risorse come servizi in base al
                                    consumo ("pay per use"), evitando investimenti
                                    iniziali nell’infrastruttura e costi legati
                                    alle licenze di utilizzo
                                </li>
                                <li>
                                    ridurre i costi complessivi collegati alla
                                    location dei data center
                                    (affitti, consumi elettrici, personale non ICT)
                                </li>
                                <li>
                                    avere maggiore flessibilità nel provare
                                    nuovi servizi o apportare
                                    modifiche, con costi accessibili
                                </li>
                                <li>
                                    effettuare in maniera continua gli
                                    aggiornamenti dell’infrastruttura e delle
                                    applicazioni
                                </li>
                                <li>
                                    ridurre i rischi legati alla gestione della
                                    sicurezza (fisica e logica) delle
                                    infrastrutture IT
                                </li>
                            </ul>
-->
                            </p>
		<!--                      		<b>Una strategia per il cloud</b><br>-->
      <h4><a id="strategia-cloud">Una strategia per il cloud</a></h4> 

                           
                            <p>La strategia per il cloud prevista dal
                            <a href="https://docs.italia.it/italia/piano-triennale-ict/pianotriennale-ict-doc/it/2019-2021/03_infrastrutture.html#cloud-della-pa">
				    Piano Triennale per l’informatica nella Pubblica Amministrazione</a> individua tre elementi principali che
                            caratterizzano il percorso di trasformazione:
                            <ul>
                                <li><b>il principio Cloud First</b> secondo il quale
                                    le PA devono, in via prioritaria, adottare
                                    il paradigma cloud (in particolare i
                                    servizi SaaS) prima di qualsiasi altra opzione
                                    tecnologica per la definizione di nuovi
                                    progetti e per la progettazione dei nuovi servizi
                                    nell’ambito di nuove iniziative da avviare;
                                </li>
                                <li><b>il modello Cloud della PA</b>, il modello
                                    strategico che si compone di infrastrutture
                                    e servizi qualificati da AgID sulla base di
                                    un insieme di requisiti volti a garantire
                                    elevati standard di qualità per la PA;
                                </li>
                                <li><b>Il programma di abilitazione al cloud</b> (cloud enablement program), 
                                    il programma che abilita un’organizzazione a migrare il
                                    proprio patrimonio IT esistente
                                    (infrastrutture e applicazioni) utilizzando
                                    infrastrutture e servizi cloud all’interno del
                                    modello Cloud della PA. Nell’ambito del programma
                                    è stato definito un framework, costituito
                                    dall’insieme di unità organizzative (unità di
                                    controllo, unità di esecuzione e centri di competenza),
                                    risorse, strategie operative e il Cloud Enablement Kit
                                    (metodologie, buone pratiche e strumenti) necessari per
                                    attuare il Cloud Enablement Program delle PA.
                                </li>
                            </ul>
                            </p>
			          <h4><a id="strategia-cloud">Perché definire un modello per il "Cloud della PA"?</a></h4> 

                            <p>
                            Non tutti i servizi e le infrastrutture di cloud
                            computing sono uguali. In alcuni casi tali servizi
                            possono anche non rispettare i principali standard
                            di sicurezza, garanzie operative e affidabilità
                            definiti a livello internazionale. Questa
                            disomogeneità può rappresentare un rischio quando
                            si affidano i propri dati a provider che non
                            garantiscono dei livelli minimi di sicurezza e
                            affidabilità.
                            </p>
                            <p>
                            <a href="https://cloud.italia.it/projects/cloud-italia-docs/it/latest/">Il modello Cloud della PA</a> consente di mitigare tale
                            rischio, qualificando servizi e infrastrutture
                            cloud secondo specifici parametri di sicurezza e
                            affidabilità idonei per le esigenze della PA, nel
                            rispetto dei seguenti principi:
                            <ul>
                                <li>miglioramento dei livelli di servizio, accessibilità, usabilità e sicurezza;</li>
                                <li>interoperabilità dei servizi nell’ambito del modello Cloud della PA;</li>
                                <li>riduzione del rischio di «vendor lock-in»;</li>
                                <li>riqualificazione dell’offerta, ampliamento e diversificazione del mercato dei fornitori;</li>
                                <li>resilienza, scalabilità, «reversibilità» e protezione dei dati;</li>
                                <li>apertura del mercato alle Piccole e Medie Imprese (PMI).</li>
                            </ul>
                            </p>
                            <p>
                            Il Cloud della PA si compone di infrastrutture e
                            servizi, qualificati da AgID sulla base di requisiti minimi come
                            descritto dalle <a href="https://cloud.italia.it/projects/cloud-italia-circolari/it/latest/">circolari AgID
                            n.2 e n.3 del 2018</a>.
                            </p>
			<h4><a id="strategia-cloud">Come adottare il modello “Cloud della PA”?</a></h4> 
                            <p>
                              Il Team per la Trasformazione Digitale in collaborazione con AgID ha elaborato un
                                <a href="https://cloud.italia.it/it/cloud-enablement/">programma di
                                abilitazione al cloud</a>, un insieme di attività e risorse per rendere
                                un’amministrazione capace di creare, operare e mantenere le proprie infrastrutture IT utilizzando
                                tecnologie e servizi cloud.
                            </p>
                        </div>
                    </div>
                </article>
                <article class="container my-4">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <div id="documenti">
                                <h2>I documenti</h2>
                                <div class="it-list-wrapper">
                                    <ul class="it-list">
                                        <li>
                                            <a href="https://cloud.italia.it/projects/cloud-italia-docs/it/latest/">
                                                <div class="it-right-zone">
                                                    <span class="text">Il modello Cloud della PA<em>La strategia cloud e il modello Cloud della PA.</em></span>
                                                    <span class="it-multiple">
                                                        <span class="metadata">Leggi su Docs Italia</span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://cloud.italia.it/projects/cloud-italia-circolari/it/latest/circolari/SaaS/">
                                                <div class="it-right-zone">
                                                    <span class="text">Servizi cloud SaaS<em>Circolare per la qualificazione dei Servizi cloud SaaS.</em></span>
                                                    <span class="it-multiple">
                                                        <span class="metadata">Leggi su Docs Italia</span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://cloud.italia.it/projects/cloud-italia-circolari/it/latest/circolari/CSP/">
                                                <div class="it-right-zone">
                                                    <span class="text">Cloud Service Provider<em>Circolare per la qualificazione dei Cloud Service Provider.</em></span>
                                                    <span class="it-multiple">
                                                        <span class="metadata">Leggi su Docs Italia</span>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</main>

<div class="col-12">
    <div class="section section-muted">
        <div class="section-content">
            <h2>I vantaggi</h2>
            <div class="card-deck">
                <div class="card shadow border-0 mg-md-4">
                    <div class="card-header">
                        Vantaggi per i cittadini
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <b>Maggiore affidabilità</b> dei servizi pubblici;
                            <b>maggiore sicurezza</b> e <b>rispetto della privacy</b>;
                            servizi pubblici progettati in maniera <b>nativa digitale</b>;
                            minore incidenza sulla <b>spesa pubblica</b> dei servizi digitali.
                        </p>
                    </div>
                </div>
                <div class="card shadow border-0 mg-md-4">
                    <div class="card-header">
                        Vantaggi per le Pubbliche Amministrazioni
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <b>Risparmi significativi</b> da reinvestire nello sviluppo di nuovi servizi;
                            una <b>maggiore trasparenza</b> sui costi e sull’utilizzo dei servizi;
                            <b>maggiore agilità</b> nella gestione delle infrastrutture sfruttando un <b>modello
                            scalabile</b> basato su servizi a consumo (come utenze domestiche);
                            <b>maggiore efficienza</b> per stimolare la crescita economica.
                        </p>
                    </div>
                </div>
            </div>
            <!-- contenuto di esempio END -->
        </div>
    </div>
</div>




